/* :root{

} */

.sidebar{
    background-color: #363740;
    width: 255px;
    // height: 100vh;
    &__top{
        display: flex;
        align-items: center;
        gap: 12px;
        // justify-content: space-between;
        align-content: center;
        padding: 37px 32px;
        &--image{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color:#3751FF;
        }
        &--title{
            font-weight: 700;
            font-size: 19px;
            line-height: 24px;
            color: #A4A6B3;
            opacity: 0.7; 
            letter-spacing: 0.4px;      
        }
    }
    &__menu{
        margin-block: 44px;
        &__tab{
            padding: 17px 32px 17px 32px ;
            display: flex;
            gap: 24px;
            color: #A4A6B3; 
            &:nth-child(6)  {
                padding-bottom: 34px;
            }
            &:nth-child(7)  {
                padding-top: 34px;
                border-top: 1px solid #DFE0EB
            }
           &:hover {
                color:  #DDE2FF;
                background: #9FA2B4;
                // opacity: 0.08;
                border-left: 3px solid #DDE2FF;
              }
            &--icon{
                font-size: 16px;
                opacity: 0.4;   
            }
            &--link{
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                /* identical to box height */               
                letter-spacing: 0.2px; 
                /* sidebar / gray */                       
            }
        }
    }
}

