.table {
  img {
    border-radius: 50%;
    height: 44px;
    width: 44px;
  }
  display: flex;
  width: calc(100% - 255px);
  flex-direction: column;
  gap: 54px;
  border-collapse: collapse;
  padding: 30px;
  margin-left: 255px;
  background-color: #e5e5e5;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    &--name {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.3px;
      color: #252733;
    }
    &__rightSide {
      display: flex;
      gap: 32px;
      align-items: center;
      &--icon {
        display: flex;
        gap: 26px;
      }
      &--name {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        letter-spacing: 0.2px;
        color: #252733;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 42px;
    background-color: #fff;
    // padding: 32px;
    &__header {
      padding-inline: 30px;
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
      &--leftSide {
        font-weight: 700;
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.4px;
      }
      &__rightSide {
        display: flex;
        flex-direction: row;
        gap: 34px;
        &--sort {
          display: flex;
          gap: 9px;
        }
        &--filter {
          display: flex;
          gap: 10px;
        }
      }
    }
    &__main {
      border-collapse: collapse;
      text-align: left;
      &--head {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #9fa2b4;
        &--tr {
        //   padding-left: 300px;
          padding-bottom: 12px;
          &:first-child {
            padding-left: 200px;
          }
        }
      }

      &--body {
        &--tr {
          // border: 3px solid red;
          &__button {
            // background-color: red;
            padding-right: 32px;
          }
          &__td {
            padding-inline: 33px;
            padding-bottom: 26px;
            display: flex;
            gap: 24px;
            border-bottom: 3px;
            padding-top: 26px;
            &--ticketDetails {
              display: flex;
              flex-direction: column;
              gap: 4px;
              &--upper {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                /* identical to box height, or 143% */
                letter-spacing: 0.2px;
              }
              &--lower {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                /* identical to box height, or 133% */
                letter-spacing: 0.1px;
                color: #c5c7cd;
              }
            }
            figure {
              margin: 0px;
            }
          }
        }
      }
    }
  }
}

td {
  border-bottom: 3px solid #dfe0eb;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}

