body{
    margin: 0;
    padding: 0;
}

form {
    background-color: pink;
    text-align: center;
    width: min(600px, 90vw);
    margin: auto;
    padding: 10px;
  }
  
  h1 {
      font-size: max(1rem, 10vh);
  }