:root{
    --skyblue:#1ecbe1;
    --lightgray:#957e6a;
}

.box {
    border: 5px solid var(--skyblue);
    background-color: var(--lightgray);
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
    text-align: center;
  }
  
  .alternate {
    box-sizing: border-box;
  }
      