.container{
    display: flex;
    background-color: red;
    width: 500px;
    height: 300px;
    align-items: center;
    position: relative;
}

.box1{
    background-color: black;
}
.box2{
    background-color: white;
    position: absolute;
    right: 0%;
}