* {
  margin-top: 50px;
  margin-left: 20px;
  font-family: Montserrat;
} 
 .title{
  font-size: "38px"
 }

 .last-ses{
  display: flex; 
  align-items: center ;
 }


.last-img{
  width: 200px;
}






